.bg-primary {
    background-color: aqua;
}

.card {
    box-align: center;
}

body {
    background-color: lightgray;
}

#restaurantCard {
    margin-top: 15px;
    position: relative;
}

#or {
    text-align: center;
}

/* #clear {
    margin-left: 55px;
} */

/* #footer {
    margin-top: 110px;
    height: 44px;
} */