body {
    background: white;
    background-repeat: no-repeat;
    background-size: auto;
}

.jumbotron {
    background-image: url("../images/grainbeltsign.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#blurb {
    border: 1px solid white;
    background: white;
    width: 600px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: .25rem;
    align-content: center;
}

#contact {
    background: white;
    background-color: lightgrey;
    border: 1px solid white;
    width: 600px;
    border-radius: .25rem;
    padding: 5px;
}

#pic {
    border: none;
    background: white;
    background-color: #f8f9fa;
    padding: 0;
    
}

#words {
    padding-top: 5%;
    padding-left: 5%;
    background: white;
    background-color: lightgrey;
    
}

#content {
    border-radius: .25rem;
    align-content: center;
    width: 600px;
    height: 300px;
    margin: auto;
    border-radius: .25rem;
    align-content: center;
}

#profile {
    float: left;
}


#cards {
    margin-top: 8%;
}

li {
    padding-right: 15px;
}

i {
    float: left;
}

a, h4 {
    color: black;
}

@media only screen and (max-width: 760px) {
    .col-lg-3 {
        width: 15%;
      }
}
